    .search-header { grid-area: header; }
    .search-menu { grid-area: menu; max-height:50vh; }
    .search-main { grid-area: main; max-height:50vh;}
    .search-random { grid-area: random; }
    .search-ok { grid-area: ok; }
    #search-field{width:60%;}
    .search-container {
        margin-left:5%;
        margin-right:5%;

        display: grid;
        grid-column-gap: 0.5em;
        grid-row-gap:1em;
        grid-template-areas:
                'header'
                'menu'
                'random'
                'main'
                'ok';
    }
    .search-scrollable-group{
        max-height: 50vh;
        overflow-y: auto;
    }

    @media screen and (min-width: 600px){
        .search-scrollable-group{max-height:100%;overflow-y: auto;}
        .search-container {
            grid-template-areas:
                'header header header header header'
                'menu main main main main'
                'random main main main main'
                'random ok ok ok ok';
        }
        .search-menu { height:43vh; overflow-y: none;}
        .search-main { height:53vh; overflow-y: none;}
    }


  }
