<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="sg.gov.tech.ctf.mobile" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/icon" android:debuggable="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/icon" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:name="sg.gov.tech.ctf.mobile.Introduction" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="sg.gov.tech.ctf.mobile.MainActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Admin.TaskActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Admin.AdminHome" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Admin.AdminAuthenticationActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Admin.NetworkActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Info.CovidInfoActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Info.AtoZCovid" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.AuthenticationActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.UserHomeActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.TextEditorActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.ViewActivity" android:exported="true" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter android:label="flag_view">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="gov.tech.sg" android:host="ctf" android:pathPrefix="/howtogetthisflag"/>
            </intent-filter>
        </activity>
        <activity android:name="sg.gov.tech.ctf.mobile.User.Stats" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.update0Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.update1Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.update2Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.update3Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.about0Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.about1Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.User.about2Activity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Rome" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="sg.gov.tech.ctf.mobile.Contact.ContactForm" android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>
