<!doctype html>
<!--Couldn't finish the table and styling of this document in time-->
<html>
	<head>
		<title>Table</title>
		<style>
		table{
			margin:auto;
			width: 100%;
		}
		table, th, td {
		  border: 1px solid black;
		}
		th{
			background-color: #12164c; 
			color: white;
		}
		/* Aligning */
		td{
			text-align:right;
		}
		
		.left-align{
			text-align:left;
		}
		.center-align{
			text-align:center;
			margin:auto;
		}
		
		.male{
			background-color: #68d4f8;
		}
		.female{
			background-color: #fe8c68;
		}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<th class='left-align'>Class</th>
				<th class='center-align'>IndexNo</th>
				<th class='left-align'>Name</th>
				<th>Gender</th>
				<th>MatricNo</th>
			</tr>
			{% for record in data %}
				{% if record[3][0] == "F" %}
				<tr class="female">
					<td class='left-align'>{{record[0]}}</td>
					<td class='center-align'>{{record[1]}}</td>
					<td class='left-align'>{{record[2]}}</td>
					<td>{{record[3]}}</td>
					<td>{{record[4]}}</td>
				</tr>
				{% else %}
				<tr class="male">
					<td class='left-align'>{{record[0]}}</td>
					<td class='center-align'>{{record[1]}}</td>
					<td class='left-align'>{{record[2]}}</td>
					<td>{{record[3]}}</td>
					<td>{{record[4]}}</td>
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	</body>
</html>