<html>
   <head>
      <title>VueJs Reference</title>
	  <!-- development version, includes helpful console warnings -->
	  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	  <!-- production version, optimized for size and speed -->
	  <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	  
	  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
   </head>
   <body>
      <div id = "vue_det">
		 <h1>VueJS Reference</h1>
		 Referenced from <a href="https://www.tutorialspoint.com/vuejs/index.htm">tutorialspoint.com</a><br/>
		 <h2>Binding variables to stuff</h2>
		 Firstname : {{firstname}}<br/>
         Lastname : {{lastname}}<br/>
		 
         {{htmlcontent}}</br>		 
		 <div v-html = "htmlcontent"></div>
		 <img v-bind:src = "imgsrc" width = "300" height = "250" /><br/>
		 <a v-bind:href = "hreflink" target = "_blank">Click Me </a><br/>
		 <div v-bind:style = "{ color: 'blue', fontSize: 1 + 'em' }"> Style binding</div>
		
		 <hr/>
		 <h2>Methods</h2>
		 <b>Using methods:</b> {{mydetails()}}
		 <li><b>Random No:</b> {{randomNoGenerate()}} {{randomNoGenerate()}}<br/></li> <!--Shows that it changes-->
		 <br/>
		 
		 <b>Using computed method:</b>{{getfullname}}, {{fullname}}<br/> 
		 <li><b>Random No:</b> {{randomNoFixed}} {{randomNoFixed}}<br/></li> <!--Shows that it is constant-->
		 <input type = "text" v-model = "fullname" />
		 
		 <hr/>
		 <h2>Components</h2>
		 <component1></component1>
		 <testcomponent>This content here is represented as the slots element</testcomponent>
		 <componentwithprops v-bind:stuff="'hi'"></componentwithprops>
		 
		 <hr/>
		 <h2>2 Way Data Binding and watch</h2>
		 Kilometers : <input type = "number" v-model = "kilometers">
         Meters : <input type = "text" v-model = "meters"><br/>
		 {{kilometers}}km = {{meters}}<br/><br/>
		 
		 <h3>Radio</h3>
         <input type = "radio" id = "black" value = "Black" v-model = "picked">Black
         <input type = "radio" id = "white" value = "White" v-model = "picked">White
         <h3>Radio element clicked : {{picked}} </h3>
         <h3>Select</h3>
         <select v-model = "languages">
            <option disabled value = "">Please select one</option>
            <option>Java</option>
            <option>Javascript</option>
            <option>Php</option>
            <option>C</option>
            <option>C++</option>
         </select>
         <h3>Languages Selected is : {{ languages }}</h3>
         
		 <hr/>
		 <h2>Events</h2>
		 <button v-on:click = "buttonevent">Click ME</button>
		 
		 <hr/>
		 <h2>Rendering</h2>
		 <span v-if = "vif">This uses v-if (removes element)</span> <input type="checkbox" v-model="vif"/><br/>
		 <span v-show = "vshow">This uses v-show (hides element)</span><input type="checkbox" v-model="vshow"/><br/>
		 <b>v-for</b><br/><li v-for="(item, index) in items" :key="item.message">{{index}}: {{ item.message }}</li>
		 
		 <hr/>
		 <h2>Custom Directives</h2>
		 <div v-customdirective = "{color:'green'}">VueJS Directive</div>
		 
		 <hr/>
		 <h2>Routing</h2>
		 <router-link to = "/route1">Router Link 1</router-link>
		 <a href="#/route1">Link 1 without Router</a>
         <router-link to = "/route2">Router Link 2</router-link>
		 <router-view></router-view>
      </div>
	  
      <script type = "text/javascript">


const Route1 = { template: '<div style = "border-radius:20px;background-color:cyan;width:200px;height:50px;margin:10px;font-size:25px;padding:10px;">This is router 1</div>' }
const Route2 = { template: '<div style = "border-radius:20px;background-color:green;width:200px;height:50px;margin:10px;font-size:25px;padding:10px;">This is router 2</div>' }
const routes = [
	{ path: '/route1', component: Route1 },
	{ path: '/route2', component: Route2 }
];
const router = new VueRouter({
	routes:routes // short for `routes: routes`
});


Vue.component('testcomponent',{
   template : '<div v-on:mouseover = "changename()" v-on:mouseout = "originalname();"><h1>Custom Component created by <span id = "name">{{name}}</span></h1></div>',
   data: function() {
      return {
         name : "Ria"
      }
   },
   methods:{
      changename : function() {
         this.name = "Ben";
      },
      originalname: function() {
         this.name = "Ria";
      }
   },
   created: function() { //Before HTML initialised
   },
   mounted : function(){ //when all the HTML initialised
   }
});

Vue.component('componentwithprops',{
   props: ['stuff'],
   template : '<div>For <code>componentwithprops</code>, the prop <code>stuff</code>=={{stuff}}</div>'
});


// Directive
Vue.directive("customdirective",{
   bind(e1,binding, vnode) {
      console.log(e1);
      console.log(binding);
      console.log(vnode);
      e1.style.color=binding.value.color;
      e1.style.fontSize = "30px";
   }
});

//Vue controller 
var vm = new Vue({
   el: '#vue_det', //Item selector
   // Variables and data //////////////////////////////////////////////////////////////////////////
   data: {
      firstname : "Ria",
      lastname  : "Singh",
	  
	  htmlcontent : "<div><h6>Vue Js Template</h6></div>",
	  //Properties
	  imgsrc : "https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/1200px-Vue.js_Logo_2.svg.png",
	  hreflink : "www.google.com",
	  
	  kilometers : 0, meters : 0,
	  picked : "Black", languages : "Java",

	  vif : true,
	  vshow: true,
	  items: [
        { message: 'Foo' },
        { message: 'Bar' }
	  ],
   },
   watch : { //Updates all the respective values for a change in 1 value
	   kilometers:function(val) {
		  this.kilometers = val;
		  this.meters = val * 1000;
	   },
	   meters : function (val) {
		  this.kilometers = val/ 1000;
		  this.meters = val;
	   }
	},
   // Components //////////////////////////////////////////////////////////////////////
   components: {
      'component1': {
         template: '<div><span style = "font-size:25;color:red;">Dynamic Component</span></div>'
      }
   },
   // Types of Methods ///////////////////////////////////////////////////////////////////
   methods: {
      mydetails : function() {
         return "I am "+this.firstname +" "+ this.lastname;
      },
	  randomNoGenerate : function(){
		return Math.random();
	  }, 
	  buttonevent : function(event) {
		  alert("Check the console");
		  console.log(event);
	   }
   },
   computed :{
	  getfullname : function() {
		  return this.firstname+" "+this.lastname;
	  },
	  randomNoFixed : function(){
		return Math.random();
	  },
	  fullname : { //Can be accessed as a property to change
		  get : function() {
			 return this.firstname+" "+this.lastname;
		  },
		  set : function(name) {
			 var fname = name.split(" ");
			 this.firstname = fname[0];
			 this.lastname = fname[1]
		  }
	   }
   },
   router
})
      </script>
   </body>
</html>