h1{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-left: 5px solid black;
}

p{
    background: silver;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    padding:20px;
    padding-right:30px;
}
