<!doctype html>
<html>
    <head>
        <title>Lolcat</title>
    </head>
    <body>
        <form action="{{url_for('funcName)}}" method="POST">
            <input type='text' name='pieceOfShit'><input type='text' name='piece'><input type='text' name='p'>
            <input type='submit'>
        </form>
        <table>
            <tr>
                <th>Hi</th>
                <th>Hi</th>
            </tr>
            {% for record in data %}
            <tr>
                <td>Hi</td>
                <td>Hi</td>
            </tr>
            {% endfor %}
        </table>

        {% if True %}
        hjkhj
        {% elif True %}
        hi
        {% endif %}
    </body>
</html>