<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Products with location {{location}}</h1>
        <table>
            <tr>
                {% for item in header %}
                <th>{{item}}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>